<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Basketball Team!</h1>
 
  Team Name: <%= @name %>
  Coach: <%= @coach %>
  Point Guard: <%=@point_guardg %>
  Power Forward: <%=@power_forf %>
  Shooting Guard: <%=@shoot_guard %>
  Small Forward: <%=@small_for %>
  Center: <%=@c %>
   


 </body>
</html>


 @name = params[:name]
    @coach = params[:coach]
    @point_guard = params[:point_guard]
    @shoot_guardg = params[:shoot_guard]
    @power_forf = params[:power_for]
    @shoot_forf = params[:shoot_for]
    @cen = params[:cen]
    erb :team