<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Basketball Team!</h1>
 
  Team Name: <%= @name %>
  Coach: <%= @coach %>
  Point Guard: <%=@point_guard %>
  Power Forward: <%=@power_for %>
  Shooting Guard: <%=@shoot_guard %>
  Small Forward: <%=@small_for %>
  Center: <%=@cen %>
   


 </body>
</html>

 @name = params[:name]
    @coach = params[:coach]
    @point_guard = params[:point_guard]
    @shoot_guard = params[:shoot_guard]
    @power_for = params[:power_for]
    @shoot_for = params[:shoot_for]
    @cen = params[:cen]